<!DOCTYPE html>
<html>
    <head>
        <title>EventSelection</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito|Source+Sans+Pro" rel="stylesheet">
        <style>
        body{
        	font-family: 'Nunito', sans-serif; 
        }
        h4,h1{
        	text-align: center;
        }
    	</style>
    </head>
    <body>
    <div><a href="/"><img src="favicon.png"></a></div>
    <div class="container" style="width:50%;margin:0px auto;">
    <h1>EVENTS</h1>
    </div>
    <div class="container" style="width:50%;margin: 30px auto; padding:50px 50px 80px 80px;background-color: #ffff80;">
    	<h4>TECHNICAL EVENTS</h4>
    	<br>
<form method="post" action="/mteam">
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="ev_id" id="inlineRadio1" value="1">
  <label class="form-check-label" for="inlineRadio1">Cadd Designing</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="ev_id" id="inlineRadio2" value="2">
  <label class="form-check-label" for="inlineRadio2">Capture the Flag</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="ev_id" id="inlineRadio3" value="3">
  <label class="form-check-label" for="inlineRadio3">Code Relay</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="ev_id" id="inlineRadio1" value="4">
  <label class="form-check-label" for="inlineRadio1">Fifa</label>
</div>
</div>

 <div class="container" style="width:50%;margin: 30px auto; padding:50px 50px 80px 80px;background-color: #ffff80;">
    	<h4>CULTURAL EVENTS</h4>
    	<br>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="ev_id" id="inlineRadio1" value="5">
  <label class="form-check-label" for="inlineRadio1">Arm Wrestling</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="ev_id" id="inlineRadio2" value="6">
  <label class="form-check-label" for="inlineRadio2">Blind Fold Maze</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="ev_id" id="inlineRadio3" value="7">
  <label class="form-check-label" for="inlineRadio3">Gully Cricket</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="ev_id" id="inlineRadio1" value="8">
  <label class="form-check-label" for="inlineRadio1">Futsal</label>
</div>
</div>

 <div class="container1" style="width:50%;margin: 30px auto; padding:50px 50px 80px 80px;background-color: #ffff80;">
    	<h4> NON-TECHNICAL EVENTS</h4>
    	<br>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="ev_id" id="inlineRadio1" value="9">
  <label class="form-check-label" for="inlineRadio1">Creative Writing</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="ev_id" id="inlineRadio2" value="10">
  <label class="form-check-label" for="inlineRadio2">Dance</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="ev_id" id="inlineRadio3" value="11">
  <label class="form-check-label" for="inlineRadio3">General Quiz</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="ev_id" id="inlineRadio1" value="12">
  <label class="form-check-label" for="inlineRadio1">Singing</label>
  <br>
</div> 
<div class="container" style="width:50%;padding-left: 70px;padding-top: 35px;size:2px;">
  <button type="submit" class="btn btn-dark btn-md">Submit</button>
</div>   
</div>
</form>
</body>
</html>