<!DOCTYPE html>
<html>
<head>
	<title>fest_event_page</title>
	<link rel="stylesheet" type="text/css" href="/events.css">
   <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	
<header class="page-header clearfix">
   
        <em class="identity"><img class="logo" src="favicon.png">tacy</em>
        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>    
</header>

<strong>Events</strong>


    <div class="container3">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://images.unsplash.com/photo-1508700929628-666bc8bd84ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Los Angeles" class="tales">
    </div>

    <div class="item">
      <img src="https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Chicago" class="tales">
    </div>

    <div class="item">
      <img src="https://images.unsplash.com/photo-1498038432885-c6f3f1b912ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="New York" class="tales">
    </div>
     
    <div class="item">
      <img src="https://images.unsplash.com/photo-1497292348804-01ddc743bcb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="New York" class="tales">
    </div>
    
    <div class="item">
      <img src="https://i.ytimg.com/vi/tBwf_ra2EVo/maxresdefault.jpg" alt="New York" class="tales">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>


<div class=" sub-heading">
    <h4>
        click on the picture to participate!
    </h4>
    
</div>



    <!-- technical -->
    <section class="portfolio data-block">
        <div class="title-wrapper">
            <h2>TECHNICAL EVENTS</h2>
        </div>

        <div class="clearfix">


              <article class="work ">
                          <figure>
                    
		         		
	     	  	    <form method="post" action="/participation">
		        	<button type="submit" class="input_image first" name="ev_id" value="1"><img src="cad.jpg"></button>
            </form>

                </figure>
                <h3>Cadd Designing</h3>
<h5>Entry Fee:<img src="http://i.stack.imgur.com/nGbfO.png" width="8" height="10"><span>500</span></h5>
                <p>Computer-aided design (CAD) is the use of computers (or workstations) to aid in the creation, modification, analysis, or optimization of a design.[1] CAD software is used to increase the productivity of the designer, improve the quality of design, improve communications through  </p>
     
        
            </article>

            <article class="work">
                       <figure>
                    
			<a target="_blank" href="/captureflag">
			  <img src="capture.jpg" alt="capture">
			</a>

                </figure>
                <h3>Capture The Flag</h3>
<h5>Entry Fee:<img src="http://i.stack.imgur.com/nGbfO.png" width="8" height="10"><span>500</span></h5>
                <p>Capture the flag (CTF) is a traditional outdoor game where two teams each have a flag (or other marker) and the objective is to capture the other team's flag, located at the team's "base," and bring it safely back to their own base. Enemy players can be "tagged" by players in their </p>
             

            </article>



            <article class="work">
                           <figure>
                    
			<a target="_blank" href="/coderelay">
			  <img src="code.jpg" alt="code">
			</a>

                </figure>

                <h3>Code Relay</h3>
<h5>Entry Fee:<img src="http://i.stack.imgur.com/nGbfO.png" width="8" height="10"><span>500</span></h5>
                <p>Need an open field up to 200 yards long, depending on patrol sizes.
Create a simple code for numbers equaling letters, such as the example below. One leader is the Code Keeper. </p>

            </article>


            <article class="work">
                <figure>
                    
		
	     	  	    <form method="post" action="/participation">
		        	<button type="submit" class="input_image" name="ev_id" value="4"><img src="fifa.jpg"></button>
            </form>


                </figure>

                <h3>Fifa</h3>
<h5>Entry Fee:<img src="http://i.stack.imgur.com/nGbfO.png" width="8" height="10"><span>500</span></h5>
                <p>FIFA, also known as FIFA Football or FIFA Soccer, is a series of association football video games or football simulator, released annually by Electronic Arts under the EA Sports label. Football video games such as Sensible Soccer, Kick Off </p>
          
			    
            </article>


                   

        </div>
    </section>



        <!--non-technical-->
    <section class="portfolio data-block">
        <div class="title-wrapper">
            <h2>NON-TECHNICAL EVENTS</h2>
        </div>

        <div class="clearfix">
           <article class="work">
                          <figure>
                    
			<a target="_blank" href="/gullycricket">
			  <img src="team1.jpg" alt="team1">
			</a>

                </figure>
                <h3>Gully Cricket</h3>
<h5>Entry Fee:<img src="http://i.stack.imgur.com/nGbfO.png" width="8" height="10"><span>500</span></h5>
                <p>Backyard cricket, street cricket, beach cricket, gully cricket (India), corridor cricket, deef or garden cricket is an informal ad hoc variant of the game of cricket, played by people of all genders and all ages in gardens, back yards, on the street, in parks, carparks, beaches and any area not specifically intended for the purpose. </p>
            </article>


         <article class="work">
                          <figure>
                    
			<a target="_blank" href="/futsal">
			  <img src="Futsal.jpg" alt="Futsal">
			</a>

                </figure>
                <h3>Futsal</h3>
<h5>Entry Fee:<img src="http://i.stack.imgur.com/nGbfO.png" width="8" height="10"><span>500</span></h5>
                <p>Futsal (also known as fútsal or footsal) is a variant of association football played on a hard court, smaller than a football pitch, and mainly indoors. It can be considered a version of five-a-side football.[1]</p>

        
            </article>

          <article class="work">
                          <figure>
                	  	    <form method="post" action="/participation">
		        	<button type="submit" class="input_image" name="ev_id" value="6"><img src="Blind Fold Maze.jpg"></button>
            </form>

                </figure>
                <h3>Blind Fold Maze</h3>
<h5>Entry Fee:<img src="http://i.stack.imgur.com/nGbfO.png" width="8" height="10"><span>500</span></h5>
                <p>Blindfold Maze is a team icebreaker where all participants will be blindfolded and have to get through an obstacle course with only instructions from one leader. It is a game of communication and trust, and also usually ensures your participants will have a great time together. </p>
                
        
            </article>
         <article class="work">
                          <figure>
                    
			    <form method="post" action="/participation">
			        <button type="submit" class="input_image" name="ev_id" value="5"><img src="Arm Wresling.jpg"></button>
                </form>

                </figure>
                <h3>Arm Wresling</h3>
<h5>Entry Fee:<img src="http://i.stack.imgur.com/nGbfO.png" width="8" height="10"><span>500</span></h5>
                <p>Arm wrestling is a sport involving two participants. Each places one arm on a surface with their elbows bent and touching the surface, and they grip each other's hand. The goal is to pin the other's arm onto the surface, the winner's arm over the loser's arm. In the early years different names were interchangeably used to describe the same sport:  </p>
            

            </article>

        </div>
    </section>



        <!--Cultural-->
    <section class="portfolio data-block">
        <div class="title-wrapper">
            <h2>CULTURAL EVENTS</h2>
        </div>

        <div class="clearfix">
           <article class="work">
                          <figure>
                    
			<a target="_blank" href="/generalquiz">
			  <img src="General Quiz.jpg" alt="General Quiz">
			</a>

                </figure>
                <h3>General Quiz</h3>
<h5>Entry Fee:<img src="http://i.stack.imgur.com/nGbfO.png" width="8" height="10"><span>500</span></h5>
                <p>A quiz is a form of game or mind sport, in which the players attempt to answer questions correctly. It is a game to test your knowledge about a certain subject.  </p>
            </article>


         <article class="work">
                          <figure>
                    

	  	    <form method="post" action="/participation">
		        	<button type="submit" class="input_image" name="ev_id" value="10"><img src="Dance.jpg"></button>
            </form>
			

                </figure>
                <h3>Dance</h3>
<h5>Entry Fee:<img src="http://i.stack.imgur.com/nGbfO.png" width="8" height="10"><span>500</span></h5>
                <p>Dance is a performing art form consisting of purposefully selected sequences of human movement. This movement has aesthetic and symbolic value, and is acknowledged as dance by performers and observers within a particular culture. </p>

        
            </article>

          <article class="work">
                          <figure>
                    
			  	    <form method="post" action="/participation">
		        	<button type="submit" class="input_image" name="ev_id" value="9"><img src="Creative Writing.jpg"></button>
            </form>

                </figure>
                <h3>Creative Writing</h3>
<h5>Entry Fee:<img src="http://i.stack.imgur.com/nGbfO.png" width="8" height="10"><span>500</span></h5>
                <p>Creative writing is anything where the purpose is to express thoughts, feelings and emotions rather than to simply convey information. I'll be focusing on creative fiction in this post (mainly short stories and novels), but poetry, (auto)biography and creative non-fiction are all other forms of creative writing. </p>
           
            </article>
         <article class="work">
                          <figure>
                    
		    <form method="post" action="/participation">
		        	<button type="submit" class="input_image" name="ev_id" value="12"><img src="Singing.jpg"></button>
            </form>

                </figure>
                <h3>Singing</h3>
<h5>Entry Fee:<img src="http://i.stack.imgur.com/nGbfO.png" width="8" height="10"><span>500</span></h5>
                <p>Singing is the act of producing musical sounds with the voice and augments regular speech by the use of sustained tonality, rhythm, and a variety of vocal techniques. A person who sings is called a singer or vocalist  Singers perform music  that can be sung with or without accompaniment by musical instruments  </p>
              
            </article>

        </div>
    </section>



<footer class="page-footer">

	<div class="footer-contents">
		<p>The annual techno-cultural fest is organized in 
    Faculty of Engineering and Technology,
    Jamia Millia Islamia Department of Computer Engineering every year by Computer 
    Society of India(CSI) with collaboration of two other societies ASCE and IEEE.
    The fest organizes all varieties of events each having its own enthusiasm and learning
    Xtacy is one of the biggest fest in jamia with a lot of great sponsors and participation in number.</p>

	  <p class="footer"> All Rights Are Reserved &copy; Copyrights 2019</p>
	   <small>Product Of Jamia Millia Islamia</small><br>

	   <small>Site Designed By <a href="#">www.ProjectLifetime.com</a></small>
	</div>
</footer>


</body>
</html>